@charset "utf-8";
.FrontProducts_generalSearch01-d1_c1_01{
   text-align: left;
    margin: 0px auto;
    width: 229px;
    clear: both;
    overflow: hidden;
}
.FrontProducts_generalSearch01-d1_c1_01{
   text-align: left;
    margin: 0px auto;
    width: 229px;
    clear: both;
    overflow: hidden;
}
.FrontProducts_generalSearch01-d1_c1_01{
   text-align: left;
    margin: 0px auto;
    width: 229px;
    clear: both;
    overflow: hidden;
}
.FrontProducts_generalSearch01-d1_c1_01{
   text-align: left;
    margin: 8px auto 0px;
    width: 181px;
    background: url(../../images/search-bg.jpg) no-repeat;
    height: 27px;
    clear: both;
    overflow: hidden;
    padding-top: 0px;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN{
   padding-bottom: 0px;
    padding-top: 0px;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.keyword{
   line-height: 20px;
    display: inline-block;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.category{
   line-height: 20px;
    display: inline-block;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.keyword{
   n: n;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.keyword{
   n: n;
}
.FrontProducts_generalSearch01-d1_c1_01 SELECT{
   vertical-align: middle;
}
.FrontProducts_generalSearch01-d1_c1_01 .input{
   border-bottom: 0px;
    border-left: 0px;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    border-top: 0px;
    border-right: 0px;
}
.FrontProducts_generalSearch01-d1_c1_01 .input-light{
}
.FrontProducts_generalSearch01-d1_c1_01 .input-gray{
   width: 145px;
    background: none transparent scroll repeat 0% 0%;
    color: #000;
}
.FrontProducts_generalSearch01-d1_c1_01 .input-keyword{
   color: gray;
}
.FrontProducts_generalSearch01-d1_c1_01 .input-width{
   text-align: center;
    width: 90px;
}
.FrontProducts_generalSearch01-d1_c1_01 .input-width2{
   width: 100px;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.condition{
   line-height: 20px;
    display: inline-block;
}
.FrontProducts_generalSearch01-d1_c1_01 SPAN.search1{
   padding-left: 0px;
}
