@charset "utf-8";
.FrontSpecifies_show01-d3_c1{
   margin: 0px auto;
    width: 100%;
}
.FrontSpecifies_show01-d3_c1{
   margin: 0px auto;
    width: 100%;
}
#elem-FrontSpecifies_show01-1453276258803 .FrontSpecifies_show01-d3_c1{
   margin: 0px;
    width: 240px;
    float:right;
}
#elem-FrontSpecifies_show01-1453297738074 .FrontSpecifies_show01-d3_c1{
   padding-bottom: 10px;
    margin: 0px auto;
    padding-left: 15px;
    width: 654px;
    padding-right: 15px;
    background: #ebebeb;
    padding-top: 9px;
}
#elem-FrontSpecifies_show01-1453294840299 .FrontSpecifies_show01-d3_c1{
   margin: 0px auto;
    width: 1170px;
}
#elem-FrontSpecifies_show01-1371454406825 .FrontSpecifies_show01-d3_c1{
   margin: 0px auto;
    width: 100%;
    background: #fff;
    padding-top: 8px;
}
#elem-FrontSpecifies_show01-1361846750991 .FrontSpecifies_show01-d3_c1{
   margin: 15px auto 0px;
    width: 100%;
}
.FrontSpecifies_show01-d3_c1 .membernavlist{
   width: 100%;
    background: #fff;
}
.FrontSpecifies_show01-d3_c1 .membernavlist LI{
   height: 25px;
}
.FrontSpecifies_show01-d3_c1 .membernavlist LI A{
   line-height: 24px;
    width: 100%;
    background: #ebf7fe;
    float: left;
    height: 24px;
    text-decoration: none;
}
.FrontSpecifies_show01-d3_c1 .membernavlist LI A:hover{
   background: #abe7fa;
}
.FrontSpecifies_show01-d3_c1 .htmledit{
   n: n;
}
.FrontSpecifies_show01-d3_c1 .htmledit UL{
   width: auto;
    display: inline-block;
    float: none;
    height: auto;
}
.FrontSpecifies_show01-d3_c1 .htmledit UL LI{
   text-align: left;
    line-height: normal;
    width: auto;
    background: none transparent scroll repeat 0% 0%;
    float: none;
    height: auto;
}
.FrontSpecifies_show01-d3_c1 .htmledit OL{
   padding-left: 25px;
    width: auto;
    display: inline-block;
    background: none transparent scroll repeat 0% 0%;
    float: none;
    height: auto;
}
.FrontSpecifies_show01-d3_c1 .htmledit OL LI{
   list-style: decimal none outside;
    text-align: left;
    line-height: normal;
    width: auto;
    background: none transparent scroll repeat 0% 0%;
    float: none;
    height: auto;
}
.FrontSpecifies_show01-d3_c1 .htmledit P{
   line-height: 2;
}
.FrontSpecifies_show01-d3_c1 .htmledit H1{
   margin: 0.67em 0px;
    font-size: 2em;
    font-weight: bolder;
}
.FrontSpecifies_show01-d3_c1 .htmledit H2{
   margin: 0.83em 0px;
    font-size: 1.5em;
    font-weight: bolder;
}
.FrontSpecifies_show01-d3_c1 .htmledit H3{
   margin: 1em 0px;
    font-size: 1.17em;
    font-weight: bolder;
}
.FrontSpecifies_show01-d3_c1 .htmledit H4{
   margin: 1.33em 0px;
    font-size: 1em;
    font-weight: bolder;
}
.FrontSpecifies_show01-d3_c1 .htmledit H5{
   line-height: 1.17em;
    margin: 1.67em 0px;
    font-size: 0.83em;
    font-weight: bolder;
}
.FrontSpecifies_show01-d3_c1 .htmledit H6{
   margin: 2.33em 0px;
    font-size: 0.67em;
    font-weight: bolder;
}
#elem-FrontSpecifies_show01-1453294879077 .FrontSpecifies_show01-d3_c1 a{
height:52px;
width:52px;
display:block;
float:left;
margin-right:10px;
}
#elem-FrontSpecifies_show01-1453294840299  .FrontSpecifies_show01-d3_c1 a{
color:#d4d4d4;
}
#elem-FrontSpecifies_show01-1453294840299  .FrontSpecifies_show01-d3_c1 a:hover{
color:#fff;
}